src/aminParsian/webService/sms/smsservice.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSMSSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSMS" />
  </wsdl:message>
  <wsdl:message name="CreateSMSSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSServiceSoap">
    <wsdl:operation name="CreateSMS">
      <wsdl:input message="tns:CreateSMSSoapIn" />
      <wsdl:output message="tns:CreateSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSServiceSoap" type="tns:SMSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSMS">
      <soap:operation soapAction="http://tempuri.org/CreateSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSService">
    <wsdl:port name="SMSServiceSoap" binding="tns:SMSServiceSoap">
      <soap:address location="http://172.17.40.4:90/smsservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>